<!-- Code of Conduct footer -->
<footer class="code-of-conduct-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <small><em>
            Fuente original y créditos: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp;
            <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a><br>
            Por favor, ayuda traduciendo o mejorando: <a href="https://github.com/leftlogic/confcodeofconduct.com">http://github.com/leftlogic/confcodeofconduct.com</a><br>
            Este trabajo está licenciado bajo <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Atribución 3.0 Unported License</a>
          </em></small>
        </p>
      </div>
    </div>
  </div>
</footer>
