<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- jQuery cookiebar-->
    <link rel="stylesheet" href="{{ "/css/jquery.cookiebar.css" | prepend: site.baseurl }}">
    <!-- WTM Galicia -->
    <link rel="stylesheet" href="{{ "/css/wtm-galicia.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">

    <!-- Favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons / End -->

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@GDGVigo">
    <meta name="twitter:title" content="Women Techmakers Galicia 2016">
    <meta name="twitter:description" content="Teletrabajo, impresión 3D, Diseño Web, Videojuegos, Programación Creativa, Polymer Web Components,
Más de 4 horas, 8 ponentes, 6 charlas tecnológicas. Viernes 8 de Abril, Círculo de Empresarios de Galicia, Vigo.">
    <meta name="twitter:image:src" content="https://cdn.rawgit.com/GDGSpain/wtm-galicia/gh-pages/assets/twitter-summary-large.jpg">

    <!-- Facebook Open Graph -->
    <meta name="og:type" content="website">
    <meta name="og:url" content="http://wtm.gdgvigo.com/">
    <meta name="og:title" content="Women Techmakers Galicia 2016">
    <meta name="og:image" content="https://cdn.rawgit.com/GDGSpain/wtm-galicia/gh-pages/assets/facebook-large.jpg">
    <meta name="og:description" content="4h de charlas tecnológicas. Women Techmakers es una iniciativa liderada por Google, con un seguimiento mundial. Con motivo del Día Internacional de la Mujer, se celebran diferentes eventos alrededor del mundo para dar a conocer el trabajo y el conocimiento de las mujeres en el sector tecnológico.">
</head>
