<a name="prensa"></a><section class="press-callout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <h3>Difunde</h3>
        <p>¿Quieres hablar sobre Women techmakers Galicia 2016? Te lo ponemos fácil. Aquí tienes un resumen y un pack de logos y carteles del evento.</p>
        <p>
          <a class="btn btn-outline" href="{{ "/files/WTM-Galicia-2016.pdf" | prepend: site.baseurl }}">Descargar nota de prensa (PDF)</a>
          <br>
          <a class="btn btn-outline" href="{{ "/files/WTM-Galicia-2016-logos.zip" | prepend: site.baseurl }}">Descargar logotipos y carteles (ZIP)</a>
        </p>
      </div>
    </div>
  </div>
</section>
