<section class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center">Patrocinan</h3>
      </div>
    </div>
    <div class="row sponsors">
      <div class="col-xs-12 col-sm-4">
        <img class="img-responsive" src="{{ "/img/sponsors/google.png" | prepend: site.baseurl }}" alt="Google">
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://circulo.gal/" target="_blank">
          <img class="img-responsive" src="{{ "/img/sponsors/cfv.png" | prepend: site.baseurl }}" alt="Círculo de Empresarios de Galicia">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://www.campusmvp.es/" target="_blank">
          <img class="img-responsive" src="{{ "/img/sponsors/campus-mvp.png" | prepend: site.baseurl }}" alt="Campus MVP">
        </a>
      </div>
    </div>
  </div>
  <div class="container collaborators">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-center">Colaboran</h4>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <a href="http://masque3d.com/" rel="nofollow" target="_blank">
            <img class="img-responsive" src="{{ "/img/sponsors/masque3d.png" | prepend: site.baseurl }}" alt="+ Que 3D">
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="http://www.cobresrural.com/" rel="nofollow" target="_blank">
            <img class="img-responsive" src="{{ "/img/sponsors/cobres.png" | prepend: site.baseurl }}" alt="Cobres Turismo Rural">
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="http://www.elplural.com/" rel="nofollow" target="_blank">
            <img class="img-responsive" src="{{ "/img/media-partners/el-plural.png" | prepend: site.baseurl }}" alt="El Plural">
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="http://www.tildiacritico.com/" rel="nofollow" target="_blank">
            <img class="img-responsive" src="{{ "/img/media-partners/til-diacritico.jpg" | prepend: site.baseurl }}" alt="Til Diacrítico">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container organizers">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-center">Organizan</h4>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="http://techandladies.com/" rel="nofollow" target="_blank">
            <img class="img-responsive" src="{{ "/img/sponsors/tech-n-ladies.png" | prepend: site.baseurl }}" alt="Tech &amp; Ladies">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <a href="http://gdgvigo.com/" rel="nofollow" target="_blank">
            <img class="img-responsive gdg" src="{{ "/img/gdgs/vigo.png" | prepend: site.baseurl }}" alt="GDG Vigo">
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img-responsive gdg" src="{{ "/img/gdgs/santiago.png" | prepend: site.baseurl }}" alt="GDG Santiago">
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="img-responsive gdg" src="{{ "/img/gdgs/ourense.png" | prepend: site.baseurl }}" alt="GDG Ourense">
        </div>
      </div>
    </div>
  </div>
</section>
