<div class="card">
  <img src="{{page.speaker_picture | prepend: '/img/speakers/' | prepend: site.baseurl }}"
       alt="{{page.speaker_name}}" class="speaker-avatar">
  <p class="speaker-name">{{page.speaker_name}}</p>
  <p class="speaker-tagline">{{page.speaker_tagline}}</p>
  <p class="speaker-organization">{{page.speaker_organization}}</p>

  <ul class="speaker-social-links list-inline">
    {% if page.link_linkedin %}
    <li><a target="_blank" rel="nofollow" href="{{ page.link_linkedin }}"><i
            class="fa fa-fw fa-linkedin"></i></a></li>
    {% endif %} {% if page.link_twitter %}
    <li><a target="_blank" rel="nofollow" href="{{ page.link_twitter }}"><i
            class="fa fa-fw fa-twitter"></i></a></li>
    {% endif %} {% if page.link_googleplus %}
    <li><a target="_blank" rel="nofollow" href="{{ page.link_twitter }}"><i
            class="fa fa-fw fa-google-plus"></i></a></li>
    {% endif %} {% if page.link_website %}
    <li><a target="_blank" rel="nofollow" href="{{ page.link_website }}"><i
            class="fa fa-fw fa-link"></i></a></li>
    {% endif %}
  </ul>

</div>
